.picture
{
    height: 150px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    display: inline-block;
}

.picture img
{
    max-height: 150px;
    max-width: 150px;
}

.addBasket
{
    background-color: darkgray;
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    text-align: center;
}

.innerSection
{
    margin-left: 20px;
}

.price
{
    font-size: 20px;
    font-weight:bold;
    margin: 20px;
    display: inline-block;
}

.SectionSubtitle
{
    font-weight:bold;
    text-decoration: underline;
    font-size: 25px
}

.ArticleDescription
{

}

.noticeTitle
{
    font-weight:bold;
}